* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #23fbff62
}

.start_page.winner {
    font-family: "Caveat", serif;
    font-size: 20vh;
    color: black;
}

h1 {
    font-family: "Caveat", serif;
    font-size: 10vh;
    color: red;
    font-weight: bold;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.start_page,
.game_page {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.start_page {
    background-color: #2ce52fce;
    color: white;
}

.game_page {
    background-color: #2196f3;
    color: white;
    visibility: hidden;
    opacity: 0;
}

.game_page.active {
    visibility: visible;
    opacity: 1;
}

.start_button,
.reset_button {
    background-color: rgb(255, 204, 0);
    padding: 2vh 4vh;
    font-size: 2vh;
    border: none;
    margin-top: 3vh;
    margin-bottom: 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.start_button:hover,
.reset_button:hover {
    background-color: #ffffff;
    color: #4caf50;
}

.game_container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 30px;
}

.cell {
    min-width: 12vh;
    min-height: 12vh;
    background-color: rgb(21, 196, 235);
    border: 2px solid #2156f3;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #bbdefb;
}
